/* <!-- ======================== IMPORT FIELDS ======================== --> */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* <!-- ======================== CUSTOM VARIABLES ======================== --> */
:root {
	--primary-color: #3a4052;
}

/* <!-- ======================== CORE STYLES ======================== --> */
* {
	box-sizing: border-box;
  scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Lora', serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}

/* <!-- ======================== NAVIGATION ======================== --> */

/* <!-- ======================== SIDE PANELS ======================== --> */
.left,
.right{
  width: 40px;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  color: #fff;
}

/* < - - - Left - - - > */
.left{
  left: 40px;
  right: auto;
}

.social__list{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.social__list li a{
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.social__list li a i{
  font-size: 20px;
}

.social__list li a:hover{
  transform: translateY(-3px);
}

.social__list li:last-of-type{
  margin-bottom: 20px;
}

/* < - - - Right - - - > */
.right{
  left: auto;
  right: 40px;
}

.email__container{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.email__container a{
  color: #fff;
  margin: 20px auto;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.email__container a:hover{
  transform: translateY(-3px);
}

/* < - - - After - - - > */
.email__container:after,
.social__list:after{
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #fff;
}

/* < - - - Media Breakpoints - - - > */
@media (max-width: 1080px){
  .left{
    left: 20px;
    right: auto;
  }
  .right{
    left: auto;
    right: 20px;
  }
}

@media (max-width: 768px){
  .left,
  .right{
    display: none;
  }
}

/* <!-- ======================== HOME ======================== --> */
.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: 
    var(--primary-color) 
    url('./https://traversymedia.com/downloads/cover.jpg') 
    no-repeat 
    center
		center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.content h3{
  letter-spacing: 1px;
  font-weight: 400;
}

/* <!-- ======================== BUTTON ======================== --> */
.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.btn:hover {
	transform: scale(0.98);
}

/* <!-- ======================== ABOUT ======================== --> */
#about {
	padding: 40px;
	text-align: center;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

/* < - - - Picture Slider - - - > */
.slider {
  background-color: #fff;
  box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
              0 3px 1px hsla(0,0%,100%,.75),
              0 -1px 1px 2px hsla(0,0%,0%,.1);
  height: 18.75em;
  left: 50%;
  margin: -9.875em -13em;
  padding: .5em;
  position: absolute;
  top: 50%;
  width: 25em;
}

/* Frame */
.slider:before {
  background-color: #22130c;
  bottom: -2.5em;
  box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
              inset 0 -2px 1px hsla(0,0%,0%,.4),
              0 5px 50px hsla(0,0%,0%,.25),
              0 20px 20px -15px hsla(0,0%,0%,.2),
              0 30px 20px -15px hsla(0,0%,0%,.15),
              0 40px 20px -15px hsla(0,0%,0%,.1);
  content: '';
  left: -2.5em;
  position: absolute;
  right: -2.5em;
  top: -2.5em;
  z-index: -1;
}

/* Mat */
.slider:after {
  background-color: #fff5e5;
  bottom: -1.5em;
  box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
              0 -1px 1px 1px hsla(0,0%,0%,.4),
              inset 0 2px 3px 1px hsla(0,0%,0%,.2),
              inset 0 4px 3px 1px hsla(0,0%,0%,.2),
              inset 0 6px 3px 1px hsla(0,0%,0%,.1);
  content: '';
  left: -1.5em;
  position: absolute;
  right: -1.5em;
  top: -1.5em;
  z-index: -1;
}

/* Slides */
.slider li {
  box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
  list-style:none;
  position: absolute;
}

.slider input {
  display: none;
}

/* Slider Navigation */
.slider label {
  background-color: #111;
  background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
  border: .2em solid transparent;
  bottom: .5em;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: .5em;
  left: 24em;
  opacity: 0;
  position: absolute;
  transition: .25s;
  width: .5em;
  visibility: hidden;
  z-index: 10;
}
.slider label:after {
  border-radius: 100%;
  bottom: -.2em;
  box-shadow: inset 0 0 0 .2em #111,
              inset 0 2px 2px #000,
              0 1px 1px hsla(0,0%,100%,.25);
  content: '';
  left: -.2em;
  position: absolute;
  right: -.2em;
  top: -.2em;
}
.slider:hover label {
  opacity: 1;
  visibility: visible;
}
.slider input:checked + label {
  background-color: #fff;
}
.slider:hover li:nth-child(1) label {
  left: .5em;
}
.slider:hover li:nth-child(2) label {
  left: 2em;
}
.slider:hover li:nth-child(3) label {
  left: 3.5em;
}
.slider:hover li:nth-child(4) label {
  left: 5em;
}

/* Images */
.slider img {
  height: 18.75em;
  opacity: 0;
  transition: .25s;
  width: 25em;
  vertical-align: top;
  visibility: hidden;
}
.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

/* <!-- ======================== SKILLS ======================== --> */

/* <!-- ======================== PORTFOLIO ======================== --> */

/* <!-- ======================== CONTACT ======================== --> */

/* <!-- ======================== FOOTER ======================== --> */
#footer h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}
