<div class="profile__gradient">
  <figure class="profile__card">
    <img src="RES/Professional.png"/>
    <figcaption class="profile__content">
      <h2>Trevor Pilgrim</h2>
      <ul class="profile__info">
        <li class="profile__topic">
          Software Consultant, Fishbowl Solutions
        </li>
        <li class="profile__topic">
          HTML5, CSS3, JavaScript, React, Vue, Svelte, Angular
        </li>
        <li class="profile__topic">
          Graphic Artist & UI/UX Designer
        </li>
      </ul>
    </figcaption>
  </figure>
</div>