<div class="flex__cards__container">
  <div class="flex__card active" style="--optionBackground:url(https://66.media.tumblr.com/6fb397d822f4f9f4596dff2085b18f2e/tumblr_nzsvb4p6xS1qho82wo1_1280.jpg);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="uil uil-arrow"></i>
      </div>
      <div class="info">
        <div class="main">Frontend Development</div>
        <div class="sub">Full Scale Implementations</div>
      </div>
    </div>
  </div>
  <div class="flex__card" style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="uil uil-sim-card"></i>
      </div>
      <div class="info">
        <div class="main">UI/UX Design</div>
        <div class="sub">Intuitive Design Solutions</div>
      </div>
    </div>
  </div>
  <div class="flex__card" style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="uil uil-palette"></i>
      </div>
      <div class="info">
        <div class="main">Graphic Design</div>
        <div class="sub">Creative Design Ideologies</div>
      </div>
    </div>
  </div>
  <div class="flex__card" style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="uil uil-crop-alt"></i>
      </div>
      <div class="info">
        <div class="main">Website Mockups</div>
        <div class="sub">Responsive Wireframe Solutions</div>
      </div>
    </div>
  </div>
  <div class="flex__card" style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <i class="uil uil-user"></i>
      </div>
      <div class="info">
        <div class="main">Clientele Facing</div>
        <div class="sub">Personable & Professional</div>
      </div>
    </div>
  </div>
</div>